.body-custom {
    background-color: #7aa584;
}

.custom-text {
    color: #fff;
}

.area-holder {
    height: 600px;
    padding: 10px;
    /*change color*/
}

.col-xml-holder {
    border-color: #114d6a;
    border-width: 5px;
    margin: 10px;
    height: 100%;
    border-radius: 10px;
}

.io-holder {
    background-color: #fff;
    border-width: 5px;
    height: 100%;
    border-radius: 10px;
}

.col-io {
    height: 100%;
}

.col-output-holder {
    margin: 10px;
    border-color: #114d6a;
    height: 100%;
    border-radius: 10px;
    border-width: 5px;
}

.io-header {
    width: 100%;
    background-color: #67896f;
    height: 10%;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    vertical-align: center;
}

.output-text-area {
    width: 100%;
    height: 80%;
    background-color: #fff;
    resize: none;
}

.input-text-area {
    width: 100%;
    height: 90%;
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
    resize: none;
}

.io-header-text {
    font-size: 30px;
    line-height: 100%;
    vertical-align: middle;
    padding: 10px;
}

.nav-custom {
    padding-top: 10px;
    height: 10%;
}

.li-custom {
    height: 100%;
    margin-left: 10px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #67896f;
}

a {
    color: #06651c;
    text-decoration: none;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: #d9ecde;
    color: green;
}

.div-add-prefix {
    vertical-align: middle;
    margin-left: 5px;
}

.gravity_bottom {
    height: 7%;
    position: absolute;
    vertical-align: middle;
    width: 100%;
    bottom: 0px;
    border-radius: 0px 0px 10px 10px;
}

.intro-panel {
    margin: 10px;
}